<div id="<%= dom_id rental %>" class="card">
  <p>
    <strong>User:</strong>
    <%= rental.user_id %>
  </p>

  <p>
    <strong>Console:</strong>
    <%= rental.console %>
  </p>

  <p>
    <strong>Checked out:</strong>
    <%= rental.checked_out %>
  </p>

  <p>
    <strong>Returned:</strong>
    <%= rental.returned %>
  </p>

</div>
