<div id="<%= dom_id subscription %>">
  <p>
    <strong>Kind:</strong>
    <%= subscription.kind.titleize %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= subscription.account %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= subscription.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= subscription.end_date %>
  </p>

</div>
