<!DOCTYPE html>
<html>
  <head>
    <title>EsportsLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <%= link_to 'Consoles', consoles_path %> |
    <%= link_to 'Games', games_path %> |
    <%= link_to 'Accounts', accounts_path %> |
    <%= link_to 'Subscriptions', subscriptions_path %> |
    <%= link_to 'Rentals', rentals_path %>
  </nav>
    <%= yield %>
  </body>
</html>
