<div id="<%= dom_id account %>" class="card">
  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Account Type:</strong>
    <%= account.kind %>
  </p>

  <p>
    <strong>Console:</strong>
    <%= account.console %>
  </p>

  <h3>Games:</h3>
  <ul>
    <% account.games.each do |game| %>
      <li><%= game.title %></li>
    <% end %>
  </ul>

</div>
