<div id="<%= dom_id account %>">
  <p>
    <strong>Email:</strong>
    <%= account.email %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= account.kind.titleize %>
  </p>

  <p>
    <strong>Console:</strong>
    <%= account.console %>
  </p>

  <h2>Games:</h2>
  <ul>
    <% account.games.each do |game| %>
      <li><%= game.title %></li>
    <% end %>
  </ul>

</div>
